/// ----
///   Base Layout
///
///   Use this file to add the base style for HTML, Body and Root element
/// ----
body .app-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 88px;
}
